.landing-event-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.signup-btn {
    background: linear-gradient(135deg, #9333ea, #c084fc);
    color: white;
}

.login-btn {
    background: transparent;
    border: 1px solid #c084fc;
    color: #c084fc;
}

.signup-btn:hover {
    transform: scale(1.05);
}

.login-btn:hover {
    background: #c084fc;
    color: #1a0b2e;
}

/* LOGO */
.landing-logo-wrapper {
    text-align: center;
    margin: 40px 0;
}

.landing-logo {
    width: 400px;
    max-width: 100%;
}